@font-face {
    font-family: 'Quantum';
    src:    url( {{asset('fonts/Quantum.otf')}} ) format('opentype');
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;


}
main {
    background-color: lightgrey;
}
         /* HEADER */

a {
    text-decoration: none;
    color: #408DD7;
    font-size: 18px;

}
.myHeader a:hover {
    color: white;
}

.sticky {
    position: sticky;
    top: 0;

    width: 100%;
}

.headerMenu {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #202020;
}
.logo {
    width: 30%;
}
.logo h1 a {
    font-family: 'Quantum';
    font-size: 34px;
    color: #408DD7;
}
.searchbar {
    width: 30%;
    margin-top: 10px;
}

.client {
    display: flex;
    width: 30%;


}
.compte {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.commande {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.panier {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logoflat {
    width: 25%;
}

.headerMenu h1 {
    margin: 0;
}
.headerMenu p {
    font-weight: bold;
    margin: 0;
}


.team {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #333333;
}
.logoEquipe {
    width: 5%;
    margin-right: 50px;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #444444;
}
.sousmenu {
    padding: 5px 30px;

}
.sticky {
    position: sticky;
    top: 0;

    width: 100%;

}

       /* FIN HEADER */
       /* RESPONSIVE */
.resp {
    width: 100%;
    height: auto;
}
     /* FIN RESPONSIVE */
        /* ACCUEIL */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
}
.nouveaute {
    color: #408DD7;
    padding: 10px;
    font-size: 34px;
}
.titreAccueil {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCoeur {
    width: 40px;
}

.ajout {
    color: #408DD7;
    text-align: center;
    padding-bottom: 10px;
}
.mainAdmin {
    display: flex;
    justify-content: center;
}
.messageAdmin {

    text-align: center;
    font-size: 24px;
    width: 50%;
    padding: 10px;
}

      /* FIN ACCUEIL */
       /* ARTICLE */
.titre {
    color: #408DD7;
    padding: 10px;
    margin: auto;
    font-size: 34px;
    width: 200px;

}

.articleListImg {
    border: solid 2px #408DD7;
    border-radius: 25px;
    padding: 10px;
    background-color: white;


}
.imgArticle {
    width: 110px;
    margin: auto;

}
.articleList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #408DD7;
    background-color: lightgrey;
    padding: 10px 0px;
}
.articleListPrix {
    color: red;
}
.articleMain {
    padding: 50px 0px;
}
.articleCarte {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    border: solid 2px #408DD7;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
}
.articleImgCarte{
    width: 20%;
    height: auto;

}
.articleDetailCarte {
    width: 50%;
}
.articleNomCarte {
    text-align: center;
    padding: 10px;
    border: solid 2px #408DD7;
    border-radius: 25px;
}
.articleDescCarte {
    padding: 10px;
    border: solid 2px #408DD7;
    margin-top: 10px;
    border-radius: 25px;
}
.articlePrixTailleCarte {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.articlePrixCarte {
    padding: 10px;
    border: solid 2px #408DD7;
    margin-top: 10px;
    color: red;
    border-radius: 25px;
}
.articleTailleCarte {
    padding: 10px;
    border: solid 2px #408DD7;
    margin-top: 10px;
    border-radius: 25px;
}
.articleAjout {
    text-align: center;
    padding-top: 10px;
}
.articleImgCarteResp {
    display: none;
}

     /* FIN ARTICLE */
        /* VITALITY */
.homeVitality {
    background-image: url('../img/home_vitality.jpeg');
    background-size: cover;
    opacity: 0.90;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;

}
      /* FIN VITALITY */
        /* SOLARY */
.homeSolary {
    background-image: url('../img/home_solary.jpg');
    background-size: cover;
    opacity: 0.90;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}
      /* FIN SOLARY */
       /* LESTREAM */
.homeLestream {
    background-image: url('../img/home_lestream.jpg');
    background-size: cover;
    opacity: 0.90;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}
     /* FIN LESTREAM */
         /* FOOTER */

footer {
    background-color: #333333;
}
.up {
    background-color: #444444;
    text-align: center;
    padding: 20px;



}
.up a {
    text-decoration: none;
    color: #408DD7;


}

.footer {
    display: flex;
    flex-wrap: wrap;


}
.sousfooter {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}


.sousfooter a {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;

}
.sousfooter p {
    color: #408DD7;

    font-size: 18px;
}
.titreinfosite p {
    color: #408DD7;
    text-align: center;

}
.infosite {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
}
.textinfosite {
    padding: 5px;
    color: white;

}
        /* FIN FOOTER */
        /* DEBUT IPAD */

@media screen and (max-width:1199px) and
(min-width:768px) and (orientation:landscape) {

.logoflat img {
    display: none;
}
.client {
    display: flex;
    flex-direction: column;
}
.articleCarte {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articleImgCarte{
    width: 50%;
    height: auto;
}
.articleDetailCarte {
    width: 100%;
}
}

         /* FIN IPAD */
       /* DEBUT IPHONE */

@media screen and (min-width:375px) and (max-width:767px) {

.logoEquipe {
    width: 10%;
    margin-right: 50px;
}
.logoflat img {
    display: none;
}
.client {
    display: flex;
    flex-direction: column;
}
.articleCarte {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articleImgCarte{
    width: 100%;
    height: auto;
}
.imgCoeur {
    width: 100px;
}
.articleDetailCarte {
    width: 100%;
}
}
          /* FIN IPHONE */