<footer>
    <div class="up">
        <a href="">Revenir en haut</a>
    </div>
    <div class="footer">
        <div class="sousfooter">
            <p>Catégories</p>
            <nav>
                <a href=" {{ path ('vetement') }}">Vêtements</a>
                <a href="{{ path ('accessoire') }}">Accesoire</a>
                <a href="{{ path ('peripherique') }}">Périphérique</a>
            </nav>
        </div>
        <div class="sousfooter">
            <p>Esport-Shop</p>
            <nav>
                <a href="">Qui somme-nous ?</a>
                <a href="">Nos marques</a>
                <a href="">Nous contacter</a>
            </nav>
        </div>
        <div class="sousfooter">
            <p>Support</p>
            <nav>
                <a href="">Livraison & Retour</a>
                <a href="">Conditions générale de vente</a>
                <a href="">Information légal</a>
            </nav>

        </div>
    </div>
    <div class="titreinfosite">
        <p>Info site</p>
    </div>
    <div class="infosite">
        <div class="textinfosite">
            <p>2019 - EsportShop - Société française - SIREN 007 456 966</p>
        </div>
        <div class="textinfosite">
            <p>Produits expédiés depuis la France</p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{ asset ('js/script.js') }}"></script>
</body>
</html>