{% extends 'base.html.twig' %}
{% block content %}
    <main>
        <div class="bienvenue"> BIENVENUE SUR ESPORT-SHOP </div>
        <div class="presentation">
           <p>Le site Esport-Shop est un site E-commerce réunissant le monde de l’Esport et son côté Fan Service. Esport-Shop est un site pour tout fan de jeux vidéo et de l’aspect compétitif qu’elle apporte.</p>
            <p>Les clients peuvent ici, retrouver les différents maillots de leur équipe préféré et les équipement comme les périphériques, les accessoires, de leur joueur professionnel ou de leur streameur préféré.</p>
            <p>L’Esport, dans sa globalité, n’est pas encore très répandu que ce soit en France ou les autres pays du monde. ( A l’exception de la Chine, du Japon, de la Corée du Sud et des Etats-Unis.)</p>
            <p>On a de la chance en France, d’avoir une grande communauté de joueurs et de supporteurs dans le monde de L’Esport.</p>
            <p>Etant moi même grand passionné et fan que ce soit de jeux vidéo ou d’Esport, je me lance dans cette aventure pour propager la passion de ce domaine et de pouvoir donné accès aux fans, de pouvoir se procurer l’équipement dont ils ont besoin pour pouvoir progresser tout en se divertissant dans leur passion.</p>
            <p>Par la suite, je voudrais que le site propose du contenu Esport qui ne soit non seulement français mais qu’il réunisse aussi l’Esport Mondial en proposant des maillots de grandes équipes international comme Fnatic, G2 etc ...</p>
            <p>L’Esport se répand peu à peu dans la vie des plus jeunes comme des adultes. Et le fait de pouvoir faire en sorte de faire partie de l’origine de cette propagation ! </p>
            <p> Pour continuer à naviguer sur le site, veuillez séléctionner dans le menu en haut de page la catégorie souhaiter (Vêtement, Périphérique, Accessoire)</p>
            <p>Merci beaucoup pour votre visite, bonne continuation sur notre site !</p>


        </div>
    </main>
{% endblock %}