{% extends 'base.html.twig' %}
{% block content %}
    <main>
        <section>
            <div class="carte">

            </div>
            <div class="carte">

            </div>
            <div class="carte">

            </div>
        </section>
    </main>
{% endblock %}