{% extends 'baseadmin.html.twig' %}
{% block content %}
    <main class="mainAdmin">
        <div class="messageAdmin">
            Bonjour à vous les admins, <br>
            Pour ajouter, modifier ou mettre à jour un article, veuillez cliquer sur la catégorie correspondant à l'article ci-dessus.
            <br>
            Veuillez faire attention en manipulant la base de donnée. <br>
            Bonne journée à vous ! <br>
        </div>
    </main>
{% endblock %}