{% extends 'base.html.twig' %}
{% block content %}
    <main class="homeVitality">
        <div>LOL</div>
        <div>MDr</div>
        <div>XPTDR</div>
        <div>Ptdr</div>
        <div>xD</div>
        <div>kf</div>
        <div>fdf</div>
        <div>sfqf</div>
        <div>fsf</div>
        <div>fdsfsd</div>
        <div>qsfqsfd</div>
        <div>fsqdf</div>
        <div>fs</div>
        <div>qfs</div>
        <div>qsfqsf</div>
        <div>fqs</div>
        <div>sfq</div>
        <div>qsf</div>
        <div>qfs</div>
        <div>sfq</div>
        <div>fqs</div>
        <div>qfs</div>
        <div>fqs</div>
        <div>qfs</div>
        <div>qfs</div>
        <div>LOL</div>
        <div>MDr</div>
        <div>XPTDR</div>
        <div>Ptdr</div>
        <div>xD</div>
        <div>kf</div>
        <div>fdf</div>
        <div>sfqf</div>
        <div>fsf</div>
        <div>fdsfsd</div>
        <div>qsfqsfd</div>
        <div>fsqdf</div>
        <div>fs</div>
        <div>qfs</div>
        <div>qsfqsf</div>
        <div>fqs</div>
        <div>sfq</div>
        <div>qsf</div>
        <div>qfs</div>
        <div>sfq</div>
        <div>fqs</div>
        <div>qfs</div>
        <div>fqs</div>
        <div>qfs</div>
        <div>qfs</div>
    </main>
{% endblock %}